.header-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}

.header-container {
  display: flex;
  background-color: #2c364c;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: #fff;
}
.app-logo {
  height: 35px;
}
@media screen and (max-width: 767px) {
  .app-logo {
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header-logout-button {
    font-size: 10px;
    padding: 10px;
  }
}
.header-logout-button {
  width: 120px;
  height: 40px;
  font-size: 18px;
  padding: 5px 30px 5px 30px;
  background-color: #6366f1;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-family: 'Bree Serif';
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-logout-button {
    padding: 0px;
    width: 80px;
    height: 25px;
    border-radius: 5px;
  }
}

.header-home-job {
  display: flex;
  width: 150px;
}

.home-job {
  font-size: 30px;
  margin-left: 15px;
  margin-right: 10px;
  color: #fff;
  font-family: 'Roboto';
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .home-job {
    font-size: 18px;
  }
}
